
$fontSizexxSmall: xx-small;

@media screen and (max-width: 480px) and (min-width:320px) and (orientation: portrait)  {
  /* CSS FOR FIRST TAB */
  .ap_wrapper-editor{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 0;
    position: fixed;
    height: 300px;
  }

  .ap_wrapper-editor-top{
    display: flex;
    flex-direction: column;
    font-size:  $fontSizexxSmall;
    margin: 1em;
  }

  .ap_wrapper-editor-mid{
    display: flex;
    flex-direction: column;
    font-size: $fontSizexxSmall;
    margin: 1em;
  }

  .ap_wrapper-editor-bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
  }

  /* CSS FOR SECOND TAB*/

  .ap_wrapper_picture-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
  }

  .ap_wrapper_picture-mid{
    display: flex;
    max-height: 50%;
    flex-wrap: wrap;
    height: 145px;
  }

  .ap_wrapper_picture-bot{
    display: flex;
    justify-content: space-between;
    margin: 1em;
  }
}

@media screen and (max-width: 480px) and (min-width:320px) and (orientation: landscape)  {

}
