.ap__info_wrapper{
visibility: hidden;
}

.table{
  padding: 0;
  margin: 0;
}

.griddle{

    bottom: 0;
    font-size: 11px;
    padding: 0;
    margin: 0;

}

.ap__wrapper-tables{
  z-index: 5;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  visibility: hidden;
}

.ap__info_wrapper-medidores{
  background: ghostwhite;
  width: 100%;
  z-index: 2;
  flex-direction: column;
}

.ap__info_wrapper-luminarias{
  background: ghostwhite;
  width: 100%;
  z-index: 2;
}

.ap__info_wrapper-luminariasAsociadas{
  background: ghostwhite;
  width: 100%;
  z-index: 2;
  flex-direction: column;
}

.medidores_filter{
  display: flex;
    flex-direction: row;
}

.medidores_tools{
  display: flex;
  flex-direction: column;
  min-width : 5%;

}
.medidores_tools_h6{
  height: 33%;
  color: ghostwhite;
  padding-left: 2px;
  padding-right: 2px;
}

.medidores_tools_buttons{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ap_table_navbar{
  flex-grow: 1;
}


.h6_medidores{
    background: cornflowerblue;
}

.h6_luminarias{
    background: green;
}

.h6_luminariasAsociadas{
  background: lightseagreen;
}

@media screen and (max-width: 640px) and (min-width:481px) and (orientation: landscape)  {
  .griddle{

      bottom: 0;
      font-size: 8px;
      padding: 0;
      margin: 0;

  }
}
@media screen and (max-width: 480px) and (min-width:320px) and (orientation: portrait)  {
  .ap__info_wrapper{
  visibility: hidden;
  }

  .table{
    padding: 0;
      margin: 0;
  }

  .griddle{

      bottom: 0;
      font-size: 8px;
      padding: 0;
      margin: 0;

  }

  .ap__wrapper-tables{
    z-index: 5;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    visibility: hidden;
  }

  .ap__info_wrapper-medidores{
    background: ghostwhite;
    width: 100%;
    z-index: 2;
  }

  .ap__info_wrapper-luminarias{
    background: ghostwhite;
    width: 100%;
    z-index: 2;
  }

  .medidores_tools{

    min-width : 10%;

  }
}

@media screen and (max-width: 480px) and (min-width:320px) and (orientation: landscape)  {
  .ap__info_wrapper{
  visibility: hidden;
  }

  .table{
    padding: 0;
      margin: 0;
  }

  .griddle{

      bottom: 0;
      font-size: 8px;
      padding: 0;
      margin: 0;

  }

  .ap__wrapper-tables{
    z-index: 5;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column-reverse !important;
    visibility: hidden;
    height: 100%;
  }

  .ap__info_wrapper-medidores{
    background: ghostwhite;
    width: 100%;
    z-index: 2;

  }

  .ap__info_wrapper-luminarias{
    background: ghostwhite;
    width: 100%;
    z-index: 2;
  }

  .medidores_tools{

    min-width : 13%;

  }

}
