.ap__info_wrapper{
visibility: hidden;
}

.table{
  padding: 0;
  margin: 0;
}

.griddle{

    bottom: 0;
    font-size: 11px;
    padding: 0;
    margin: 0;

}

.ap__wrapper-tables{
  z-index: 5;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  visibility: hidden;
}

.ap__info_wrapper-medidores{
  background: ghostwhite;
  width: 100%;
  z-index: 2;
}

.ap__info_wrapper-luminarias{
  background: ghostwhite;
  width: 100%;
  z-index: 2;
}

.ap__info_wrapper-luminariasAsociadas{
  background: ghostwhite;
  width: 100%;
  z-index: 2;
}

@media screen and (max-width: 640px) and (min-width:481px) and (orientation: landscape)  {
  .griddle{

      bottom: 0;
      font-size: 8px;
      padding: 0;
      margin: 0;

  }
}
@media screen and (max-width: 480px) and (min-width:320px) and (orientation: portrait)  {
  .ap__info_wrapper{
  visibility: hidden;
  }

  .table{
    padding: 0;
      margin: 0;
  }

  .griddle{

      bottom: 0;
      font-size: 8px;
      padding: 0;
      margin: 0;

  }

  .ap__wrapper-tables{
    z-index: 5;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    visibility: hidden;
  }

  .ap__info_wrapper-medidores{
    background: ghostwhite;
    width: 100%;
    z-index: 2;
  }

  .ap__info_wrapper-luminarias{
    background: ghostwhite;
    width: 100%;
    z-index: 2;
  }
}

@media screen and (max-width: 480px) and (min-width:320px) and (orientation: landscape)  {
  .ap__info_wrapper{
  visibility: hidden;
  }

  .table{
    padding: 0;
      margin: 0;
  }

  .griddle{

      bottom: 0;
      font-size: 8px;
      padding: 0;
      margin: 0;

  }

  .ap__wrapper-tables{
    z-index: 5;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-direction: column-reverse !important;
    visibility: hidden;
    height: 90%;
  }

  .ap__info_wrapper-medidores{
    background: ghostwhite;
    width: 100%;
    z-index: 2;

  }

  .ap__info_wrapper-luminarias{
    background: ghostwhite;
    width: 100%;
    z-index: 2;
  }

}
