$navbar_backgroundcolor: ghostwhite;

  body{
    margin: 0;
    padding: 0;
  }

  .ap__wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }



@import "components/apchq/APNavBar-component";

@import "components/apchq/APSearch-component";
