$navbar_backgroundcolor: ghostwhite;

  body{

  }

  .ap__wrapper{

  }

  .ap_wrapper-editor{
    /*width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 0;
    position: fixed;
    height: 50%;
*/
  }

@media screen and (max-width: 480px) and (min-width:320px) and (orientation: portrait)  {

}

@media screen and (max-width: 480px) and (min-width:320px) and (orientation: landscape)  {
  
}

@import "components/apchq/APNavBar-component";

@import "components/apchq/APSearch-component";

@import "components/apchq/APEditor-component";

//@import "components/apchq/APPicture-component";
