$navbar_backgroundcolor: ghostwhite;


body{
  margin: 0;
}
.esriSimpleSliderTL {
  visibility: hidden;
}
.ap__wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}

  .map_div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
    position: absolute;
  }



@import "components/apchq/APNavBar-component";

@import "components/apchq/APSearch-component";

@import "components/apchq/APEditor-component";

@import "components/apchq/APInfo-component";
